{{ $section := .Get 0 | default "book" }}
{{ $book := .Site.GetPage "section" $section }}
{{ if $book }}
  <ol class="book-toc">
    {{ range $book.Sections }}
    <li>
      <strong><a class="book-toc-act" href="{{ .RelPermalink }}">{{ .Title }}</a></strong>
      <ol>
        {{ range .Pages }}
        <li><a class="book-toc-chapter" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ol>
    </li>
    {{ end }}
  </ol>
{{ else }}
  <p>No book chapters found.</p>
{{ end }}
